
<div class="container">
<h2>Get Shorten url</h2>

<%= form_for @shorten do |f| %>


<%= f.label :OriginalUrl %><br/>
<%= f.text_field :original_url %><br/>



<%= f.submit "Submit",:class=>'btn btn-primary' %>

<% end %>
</div>